@media screen and (min-width: 80px) {
  body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
  }
  section {
    max-width: 100%;
    max-height: 100%;
  }
  .container {
    background-image: url('bg-header-desktop.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 3600px;
    margin: auto;
  }
  .header {
    height: 600px;
    width: 100%;
    text-align: center;
  }
  .header img {
    margin-top: 100px;
    width: 100px;
  }
  .header h2 {
    color: hsl(210, 10%, 33%);
    font-size: 48px;
  }
  .header p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size: 26px;
    margin: auto;
    width: 920px;
  }
  .iOS, .Mac {
    color: white;
    border-radius: 25px;
    border-style: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    padding: 15px;
    width: 300px;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  }
  .iOS {
    background-color: hsl(171, 66%, 44%);
    margin-right: 30px;
  }
  .Mac {
    background-color: hsl(233, 100%, 69%);
  }
  .iOS:hover, .Mac:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .body-1 {
    height: 900px;
    width: 100%;
    position: relative;
    z-index: 100;
  }
  .text-side {
    text-align: center;
    margin-top: 50px;
  }
  .text-side h2 {
    color: hsl(210, 10%, 33%);
    font-size: 44px;
  }
  .text-side p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size:  26px;
    margin: auto;
    width: 920px;
  }
  .body-1 img {
    height: 600px;
    width: 700px;
    position: absolute;
    left: 100px;
    top: 250px;
    margin-right: 50px;
  }
  .grouptext {
    position: absolute;
    left: 900px;
    top: 250px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .text h3 {
    color:hsl(210, 10%, 33%);
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .text p {
    color:hsl(201, 11%, 66%);
    font-size: 20px;
    line-height: 2;
    margin-top: 0;
    width: 450px
  }
  .body-2 {
    height: 760px;
    width: 100%;
    text-align: center;
  }
  .body-2 h2 {
    color: hsl(210, 10%, 33%);
    font-size: 44px;
    margin-top: 50px;
  }
  .body-2 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size:  26px;
    margin: auto;
    width: 920px;
  }
  .body-2 img {
    height: 600px;
    width: 800px;
    margin-top: 30px; 
  }
  .body-3 {
    height: 360px;
    width: 100%;
    text-align: center;
  }
  .text-side-3 h2 {
    color: hsl(210, 10%, 33%);
    font-size: 44px;
  }
  .text-side-3 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size: 24px;
    margin: auto;
    margin-bottom: 50px;
    width: 530px;
  }
  .group-info {
    display: flex;
  }
  .info {
    width: 350px;
    margin: auto;
  }
  .info h3 {
    color:hsl(210, 10%, 33%);
  }
  .info p {
    color: hsl(201, 11%, 66%);
  }
  .body-4 {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .body-4 img {
    margin-left: 80px;
  }
  .last-img {
    margin-right: 80px;
  }
  .body-5 {
    height: 370px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .body-5 h2 {
    color: hsl(210, 10%, 33%);
    font-size: 44px;
    margin-top: 30px;
  }
  .body-5 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size:  26px;
    margin: auto;
    width: 920px;
  }
  .iOS-2, .Mac-2 {
    color: white;
    border-radius: 25px;
    border-style: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    padding: 15px;
    width: 300px;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  }
  .iOS-2 {
    background-color: hsl(171, 66%, 44%);
    margin-right: 30px;
  }
  .Mac-2 {
    background-color: hsl(233, 100%, 69%);
  }
  .iOS:hover, .Mac:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .final-body {
    background-color: hsl(0, 0%, 97%);
    height: 100px;
    width: 100%;
  }
  .final-body ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .logo img {
    width: 50px;
    margin-left: 50px;
  }
  .sm-icons {
    margin-left: 40px;
    padding-right: 80px;
  }
  .sm-icons img {
    margin: 10px;
  }
  .footer {
  font-size: 12px;
  text-align: center;
  }
  .link {
    color: black;
    text-decoration: none;
  }
  .link:hover {
    cursor: pointer;
    color: blue;
    font-weight: bolder;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
  }
  section {
    max-width: 100%;
    max-height: 100%;
  }
  .container {
    background-image: url('bg-header-desktop.png');
    background-repeat: no-repeat;
    max-width: 375px;
    height: 5530px;
    margin: auto;
  }
  .header {
    height: 650px;
    width: 100%;
    text-align: center;
  }
  .header img {
    margin-top: 100px;
    width: 90px;
  }
  .header h2 {
    color: hsl(210, 10%, 33%);
    font-size: 35px;
  }
  .header p {
    color: hsl(201, 11%, 66%);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.8;
    margin: auto;
    width: 330px;
  }
  .iOS, .Mac {
    color: white;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
    display: grid;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 12px;
    width: 320px
  }
  .iOS {
    background-color: hsl(171, 66%, 44%);
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .Mac {
    background-color: hsl(233, 100%, 69%);
  }
  .iOS:hover, .Mac:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .body-1 {
    height: 1200px;
    width: 100%;
  }
  .text-side {
    text-align: center;
  }
  .text-side h2 {
    color: hsl(210, 10%, 33%);
    font-size: 30px;
    margin-top: 60px;
  }
  .text-side p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8;
    margin: auto;
    width: 340px;
  }
  .body-1 img {
    height: 300px;
    width: 350px;
    margin-left: 12.5px;
    margin-top: 60px;
  }
  .grouptext {
    text-align: center;
  }
  .text h3 {
    color:hsl(210, 10%, 33%);
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 40px;
  }
  .text p {
    color:hsl(201, 11%, 66%);
    font-size: 18px;
    line-height: 1.8;
    margin-top: 0;
    margin: auto;
    width: 320px
  }
  .body-2 {
    height: 750px;
    width: 100%;
    text-align: center;
  }
  .body-2 h2 {
    color: hsl(210, 10%, 33%);
    font-size: 33px;
    margin-top: 100px;
  }
  .body-2 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size:  18px;
    line-height: 1.8;
    margin: auto;
    width: 360px;
  }
  .body-2 img {
    height: 270px;
    width: 370px;
    margin-top: 50px; 
  }
  .body-3 {
    height: 850px;
    width: 100%;
    text-align: center;
  }
  .text-side-3 h2 {
    color: hsl(210, 10%, 33%);
    font-size: 33px;
    margin-bottom: 20px;
  }
  .text-side-3 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.8;
    margin: auto;
    margin-bottom: 50px;
    width: 330px;
  }
  .info {
    width: 330px;
    margin: auto;
  }
  .info h3 {
    color:hsl(210, 10%, 33%);
  }
  .info p {
    color: hsl(201, 11%, 66%);
    line-height: 1.8;
  }
  .body-4 {
    height: 700px;
    width: 100%;
    display: grid;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .body-5 {
    height: 560px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .body-5 h2 {
    color: hsl(210, 10%, 33%);
    font-size: 35px;
    margin-top: 100px;
  }
  .body-5 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    font-weight: 600;
    font-size:  18px;
    line-height: 1.8;
    margin: auto;
    width: 340px;
  }
  .iOS-2, .Mac-2 {
    color: white;
    border-radius: 25px;
    border-style: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    padding: 15px;
    width: 300px;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  }
  .iOS-2 {
    background-color: hsl(171, 66%, 44%);
    margin-bottom: 0px;
  }
  .Mac-2 {
    background-color: hsl(233, 100%, 69%);
    margin-top: 20px;
  }
  .iOS:hover, .Mac:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .final-body {
    background-color: hsl(0, 0%, 97%);
    height: 500px;
    width: 100%;
    margin: auto;
    align-items: center;
  }
  .final-body ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    margin: auto;
    line-height: 1.8;
    align-items: center;
    text-align: center;
  }
  .logo img {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .sm-icons img {
    margin-left: 40px;
  }
  .last-icon {
    margin-right: 0px;
  }
  .footer {
  font-size: 12px;
  text-align: center;
  }
  .link {
    color: black;
    text-decoration: none;
  }
  .link:hover {
    cursor: pointer;
    color: blue;
    font-weight: bolder;
  }
}
